@model Application.Models.ProfileModel;

@{
    ViewData["Title"] = "Profile";
}

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Profile</div>
                <div class="card-body">
                    <form name="my-form" action="/User/Profile" method="post">
                        <div class="form-group row">
                            <label for="Email Adress" class="col-md-4 col-form-label text-md-right">Email:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Email" value="@Model.Email" readonly required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="FirstName" class="col-md-4 col-form-label text-md-right">Name</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Name" value="@Model.Name" required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="LastName" class="col-md-4 col-form-label text-md-right">Age</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control elem" name="Age" value="@Model.Age" required="" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Phone" class="col-md-4 col-form-label text-md-right">Phone number</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Phone" value="@Model.Phone" autofocus="" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Address" class="col-md-4 col-form-label text-md-right">Tasks done</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control elem" name="Address" value="@Model.AmountOfDoneIssues" readonly required="" autofocus="" />
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-cyan btn-sm">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>